<table class="table">
  <thead>
    <tr>
      <th><%= t "ordinal" %></th>
      <th><%= t "team.name" %></th>
      <th><%= t "project.abbreviation" %></th>
      <th><%= t "team.leader" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @projects.empty? %>
      <tr>
        <td><%= t "project.empty" %></td>
      </tr>
    <% else %>
      <%= render @projects %>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
